	<!DOCTYPE html>
	{% load staticfiles %}
	<html>
		<head>
			<meta charset="UTF-8" />
			<title>Django Project</title>
			{% comment %} <link rel="stylesheet" href='{% static "css/mystyle.css" %}' /> {% endcomment %}
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		</head>
		<body>
			<div class="container">
				<div class="jumbotron">
					<h1>Django Project</h1>
					
					<h2>Go to /image-page to see static files!</h2>
					<h2>Go to /signup to sign up!</h2>
					<h2>Go to /users to see list of users</h2>
					{{insert_me}}
				</div>
			</div>
		</body>
	</html>
